.sketchfab-container1 {
	display: flex; 
	background-color: #EAD8C0;
	padding: 1%;  
	justify-content: center; 
	color: #131010;
}

.sketchfab-container2 {
	display: flex; 
	background-color: #D1BB9E;
	padding: 1%;  
	justify-content: center; 
	color: #131010;
}

.sketchfab-halves {
	
	width: 30%; 
	flex: none; 
}

.sketchfab-quarters {
	padding: 1%; 
	width: 45%; 
}

.explanation {
	padding: 2%;
	width: 40%;
}

.shrinker {
	width: 70%; 
	display: inline-block;
}

a {
	color: white;
}

a:visited {
	color: white; 
}

a.explanation {
	//background-color: #EAD8C0;
	transition: background-color 0.3s ease-in-out;
}

a.explanation:hover {
	background-color: #D1BB9E;
}