.hidden a {
    color: white;
}

.hidden h1 {
    color: white;
}

.gallery {
    height: 50vh;
}

iframe {
    margin: 2%;
}

.public-sans-font {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.proj {
    display: inline-flex;
    overflow: hidden; 
    width: 100vw; 
    justify-content: center;
    margin: 0; 
    padding: 0;
}

.proj-prev {
    display: block;
    width: 22vw;
    padding: 1vw; 
    color:black; 
    text-decoration: none;
    background-color: white; 
    transition: background-color 0.3s ease-in-out;
}

.proj-prev:hover {
    background-color: lightgray; 
}

.proj img {
    width: 22vw; 
    padding: 0; 
    margin: 0; 
}

h2 {
    font-family: "Julius Sans One", sans-serif;
    margin: 2% 5% 2% 2%;
}

h3 {
    margin: 2%;
}

p {
margin: 2%;
}

header {
    position: fixed; 
    top: 0; 
    z-index: 100; 
    background-color: rgba(100,100,100,0.5);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content a {
  display: block;
  color: black;
  width: 100%;
  padding: 10px; 
  margin: 10px;
}

.img-card {
    width: 100vw; 
    max-width:100%;
    aspect-ratio: 16 / 9;
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:0;
}

.fullscreen-img {
    width: 100vw; 
    position: absolute;
}

.card-label {
    position: absolute;
    font-size: 3em;
    color: black;
    padding: 10%; 
    background-color: rgba(255, 255, 255, 0.5); 
    transition: background-color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.card-label:hover {
    font-size: 3.3em; 
    background-color: rgba(255, 255, 255, 0.5); 
}

.julius-sans-one-regular {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.centered {
    width: 100%; 
    text-align: center;
}

body {
    margin: 0; 
    padding: 0; 
}


@media only screen and (max-width: 767px) {
h1 {
    margin: 0; 
    font-size: 3em; 
    padding: 2% 1% 1% 1%; 
}

h1 a {
    color: black; 
    text-decoration: none; 
}

nav {
    padding: 5px; 
    font-size: 3em; 
    color: white; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    background-color: darkgray;
}

nav a:visited {
    color: white; 
    text-decoration: none; 
}

}

@media only screen and (min-width: 767px) {
h1 {
    margin: 0; 
    padding: 2% 1% 1% 1%; 
}

h1 a {
    color: black; 
    text-decoration: none; 
}

nav {
    padding: 5px; 
    color: white; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    background-color: darkgray;
}

nav a:visited {
    color: white; 
    text-decoration: none; 
}

}