body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #2F2504;
  margin: 0; 
  padding: 0; 
  background-color: white; 
  text-align: center; 
}

header {
	text-align: center; 
	font-family: "Julius Sans One", sans-serif;
	width: 100%; 
}

ul {
	text-align: left;
	margin-left: 30%;
	margin-right: 30%;
	line-height: 1.5em; 
}

h2 {
    font-family: "Julius Sans One", sans-serif;
    margin: 5% 2% 2% 2%;
	text-align: center; 
}

h3 {
    margin-top: 2%;
	color:black;
}

p {
margin: 2%;
}

footer a {
	background-color: gray; 
	padding: 10px; 
	margin: 20px; 
}
footer a:visited {
	color: white;
}

.imgRow {
	display: flex; 
	flex-wrap: wrap; 
	padding: 0 4px; 
}

.imgColumn {
	flex: 30%; 
	display:flex;
	flex-direction:column;
	padding: 0 4px;
}

.imgColumn img {
	margin-top: 8px; 
	vertical-align: middle;
	//display:box;
}

.imgWithCaption {
	padding-bottom: 16px; 
}

iframe {
    margin: 2%;
}

@media only screen and (max-width: 767px) {

.hidden {
font-family: "Julius Sans One", sans-serif;
padding:5px;
}
.hidden a {
    color: black;
    font-size: 24px; 
    padding:10px;
}

.hidden h1 a{
    color: black;
    //font-size: 32px; 
}
header {
    position: fixed; 
    top: 0; 
    z-index: 100; 
    background-color: #009F93;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

h1 {
    margin: 0; 
    //font-size: 32px; 
    padding: 2% 1% 1% 1%; 
	    font-family: "Julius Sans One", sans-serif;

}

h1 a {
    color: white; 
    text-decoration: none; 
}

nav {
    padding: 5px; 
    color: white; 
}

nav a {
    text-decoration: none;
    font-size: 24px; 
    color: white;
    padding: 5px; 
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    background-color: #594E36;
}

nav a:visited {
    color: white; 
    text-decoration: none; 
}

}

@media only screen and (min-width: 767px) {
hidden {
display:none;
}
.hidden a {
    color: black;
}

.hidden h1 {
    color: black;
}
header {
    position: fixed; 
    top: 0; 
    z-index: 100; 
    //background-color: #D1BB9E;
	background-color: gray;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

h1 {
    margin: 0; 
    padding: 2% 1% 1% 1%;   
text-align: center; 	
    font-family: "Julius Sans One", sans-serif;


}

h1 a {
    color: white; 
    text-decoration: none; 
}

nav {
    padding: 5px; 
    color: white; 
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    text-decoration: none;
    //background-color: #A79277;
	background-color: lightgray;
}

nav a:visited {
    color: white; 
    text-decoration: none; 
}

}